@page "/personal"
<h3>Personal</h3>




<MudGrid>
    <MudItem xs="6">
        <MudImage Src="images/academia_musculacao.webp" Style="width: 100%; height: auto;" />
    </MudItem>
    <MudItem xs="6">
        <MudText Typo="Typo.h6">
            <p>
                Cadastre-se rapidamente em nossa plataforma, crie um perfil e configure seus planos de vendas.
                Compartilhe sua página de Ficha de Treino em suas redes sociais, mídias ou onde preferir.
            </p>
            <p>
                Alunos de todo o mundo acessam o perfil de cada Personal Trainer, escolhem um dos planos de treino disponíveis,
                contratam e realizam o pagamento diretamente pela nossa plataforma.
            </p>
            <p>
                Após a confirmação do pagamento, você poderá prescrever um plano de treinos personalizado para o aluno, de acordo com seus objetivos e perfil.
                Em seguida, o treino estará disponível no aplicativo do aluno!
            </p>
        </MudText>
    </MudItem>
</MudGrid>



@code {

}
