@using MudBlazor



<div class="d-flex flex-row align-items-center">
    <MudNumericField Label="Série"
                     Max="9"
                     Min="0"
                     Variant="Variant.Outlined"
                     Style="width: 80px; height: 30px;"
                     Class="invisible" />

    @* <MudTextField Label="" Value="@(reps[i])" @oninput="(e => OnRepsChanged(e, i))" /> *@
    <MudTextField Label="" @bind-Value="Rep[Index]"
                  @onblur="(e => SaveRep(Rep[Index], Index))" />" />

    <MudNumericField Label="Série"
                     Max="9"
                     Min="0"
                     Variant="Variant.Outlined"
                     Style="width: 80px; height: 30px;"
                     Class="invisible" />


    @* <MudTextField Label="" @bind-Value="weights[i]" /> *@
    <MudTextField Label="Peso"
                  @bind-Value="Weight[Index]" />
</div>

@code {
    [Parameter] public int Index { get; set; }
    [Parameter] public List<string> Rep { get; set; }
    [Parameter] public List<string> Weight { get; set; }
    // [Parameter] public EventCallback<int> OnRepSave { get; set; }
    [Parameter] public EventCallback<List<string>> OnWeightSave { get; set; }
    [Parameter] public EventCallback<List<string>> OnRepSave { get; set; }

    private async Task SaveRep(string valor, int Index)
    {
        Rep[Index]= valor;
        await OnRepSave.InvokeAsync(Rep);
    }
    // private void OnRepSave(int index)
    // {
    //     // Lógica de salvar ou processar as reps
    //     Console.WriteLine($"Reps no índice {index} foi salva: {reps[index]}");
    // }

    // private void OnWeightSave(int index)
    // {
    //     // Lógica de salvar ou processar o peso
    //     Console.WriteLine($"Peso no índice {index} foi salvo: {weights[index]}");
    // }
    // private void OnWeightSave(string valor, int index)
    // {
    //     index -= 2;
    //     // Converte e armazena o valor no índice correspondente
    //     weights[index] = valor;
    // }
    // private void OnRepSave(string valor, int index)
    // {
    //     index -= 2;
    //     // Converte e armazena o valor no índice correspondente
    //     reps[index] = valor;
    // }
}
    

